.cartItem
    display: flex
    align-items: center
    justify-content: space-between
    gap: 20px
    h3
        font-weight: 900
    span
        color: var(--gray-text)
    img
        border-radius: 10px
        width: 75px
        height: 75px
    .textGroup
        flex-grow: 1
        justify-self: start