.cartItem
    display: grid
    grid-template-columns: auto 1fr
    gap: 20px
    align-items: center
    .textGroup
        display: flex
        flex-direction: column
        gap: 10px
    h3
        font-weight: 900
        &:hover
            text-decoration: underline
    span
        color: var(--gray-text)
    img
        border-radius: 10px
        width: 75px
        height: 75px
    .rowGroup
        display: grid
        grid-template-columns: 1fr 10%
        justify-content: space-between
        align-items: center
        :nth-child(2)
            justify-self: end
        button
            background-color: white
            padding: 0
            height: 25px
            width: 25px
            position: relative
            margin-top: 0
            &:hover
                transform: scale(1.1)
            svg
                position: absolute
                left: 5px