.main
    color: white
    button
        display: flex
        justify-content: center
        font-weight: 700
        letter-spacing: 0.15rem
        width: 200px
        height: 50px
        cursor: pointer
        border: none
        text-transform: uppercase
        &:hover
            filter: brightness(0.9)

        